{% extends "base.html" %}
{% block body %}
<div class="row">
    <div class="primary col-md-8 col-sm-12 col-xs-12">
        <section class="about section">
            <div class="section-inner">
                <h2 class="heading">About Me</h2>
                <div class="content">
                    <p>9+ years of over-all IT experience with over 6+ years of experience in data reporting platform in dierent open
source framework and 3+ years in Data analysis. Well rounded, visionary ecutive with broad spectrum of data
science knowledge. As the next opportunities I am seeking role for senior level assignments in Data Science with
an organization of repute.</p>
                </div>
            </div>
        </section>
       <section class="latest section">
            <div class="section-inner">
                <h2 class="heading">Latest Projects</h2>
                <div class="content">    
                    <div class="item featured text-center">
                        <h3 class="title"><a href="https://wrapbootstrap.com/theme/delta-promote-mobile-app-effectively-WB09R23P8?ref=3wm" target="_blank">KickStarter - Potato Salad App</a></h3>
                        <p class="summary">A mobile app to help you make delicious potato salad</p>
                        <div class="featured-image">
                            <a href="https://wrapbootstrap.com/theme/delta-promote-mobile-app-effectively-WB09R23P8?ref=3wm" target="_blank">
                            <img class="img-responsive project-image" src="/static/images/projects/project-featured.png" alt="project name" />
                            </a>
                            <div class="ribbon">
                                <div class="text">App</div>
                                </div>
                            </div>
                        <div class="desc text-left">                                    
                            <p>You can promote your main project here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim, eget iaculis ante dolor non turpis.</p>
                            <p>Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur. At vero eos et accusamus et iusto odio dignissimos ducimus.</p>
                        </div>
                        <a class="btn btn-cta-secondary" href="https://wrapbootstrap.com/theme/delta-promote-mobile-app-effectively-WB09R23P8?ref=3wm" target="_blank"><i class="fa fa-thumbs-o-up"></i> Back my project</a>                 
                    </div>
                    <hr class="divider" />
                    <div class="item row">
                        <a class="col-md-4 col-sm-4 col-xs-12" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/" target="_blank">
                        <img class="img-responsive project-image" src="/static/images/projects/project-4.png" alt="project name" />
                        </a>
                        <div class="desc col-md-8 col-sm-8 col-xs-12">
                            <h3 class="title"><a href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/" target="_blank">Velocity - Designed for Products</a></h3>
                            <p>You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim, eget iaculis ante dolor non turpis.</p>
                            <p><a class="more-link" href="http://themes.3rdwavemedia.com/website-templates/responsive-bootstrap-theme-for-products-velocity/" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
                        </div>
                    </div>
                    <div class="item row">
                        <a class="col-md-4 col-sm-4 col-xs-12" href="https://wrapbootstrap.com/theme/tempo-designed-for-startups-WB07364T3?ref=3wm" target="_blank">
                        <img class="img-responsive project-image" src="/static/images/projects/project-1.png" alt="project name" />
                        </a>
                        <div class="desc col-md-8 col-sm-8 col-xs-12">
                            <h3 class="title"><a href="https://wrapbootstrap.com/theme/tempo-designed-for-startups-WB07364T3?ref=3wm" target="_blank">Tempo - Designed for Startups</a></h3>
                            <p>You can put one of your secondary projects here. Suspendisse in tellus dolor. Vivamus a tortor eu turpis pharetra consequat quis non metus. Aliquam aliquam, orci eu suscipit pellentesque, mauris dui tincidunt enim, eget iaculis ante dolor non turpis.</p>
                            <p><a class="more-link" href="https://wrapbootstrap.com/theme/tempo-designed-for-startups-WB07364T3?ref=3wm" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
                        </div>
                    </div>
                    <div class="item row">
                        <a class="col-md-4 col-sm-4 col-xs-12" href="https://wrapbootstrap.com/theme/delta-promote-mobile-app-effectively-WB09R23P8?ref=3wm" target="_blank">
                        <img class="img-responsive project-image" src="/static/images/projects/project-2.png" alt="project name" />
                        </a>
                        <div class="desc col-md-8 col-sm-8 col-xs-12">
                            <h3 class="title"><a href="https://wrapbootstrap.com/theme/delta-promote-mobile-app-effectively-WB09R23P8?ref=3wm" target="_blank">Delta - Designed for Mobile Apps</a></h3>
                            <p> You can put one of your secondary projects here. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum.</p>
                            <p><a class="more-link" href="https://wrapbootstrap.com/theme/delta-promote-mobile-app-effectively-WB09R23P8?ref=3wm" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="experience section">
            <div class="section-inner">
                <h2 class="heading">Work Experience</h2>
                <div class="content">
                    <div class="item">
                        <h3 class="title">Senior Consultant - <span class="place">Capgemini India Service Limited</span> <span class="year">(2014 - Present)</span></h3>
                        <p>Working as a senior consultant for client NBCUniversal. Currently I'm managing small team in data reporting solutions using php and data science with web operations team. I'm also working with different team as well in hackathon basis.</p>
                    </div>
                    <div class="item">
                        <h3 class="title">System Analyst - <span class="place">UST Global</span> <span class="year">(2013 - 2014)</span></h3>
                        <p>Working as System analyst for client Intel. I was given support and enhancement for user experience issue in different geo location.</p>
                    </div>
                    <div class="item">
                        <h3 class="title">Solution Integrator - <span class="place">Ericsson Global India</span> <span class="year">(2011 - 2013)</span></h3>
                        <p>Working as a Solution Integrator. Writing well designed, testable, ecient code by using best software development practices.</p>
                    </div>
                    <div class="item">
                        <h3 class="title">Software Engineer - <span class="place">ObjectSol Technologies</span> <span class="year">(2008 - 2010)</span></h3>
                        <p>Working as a Software Engineer for web applications.</p>
                    </div>
                    <div class="item">
                        <h3 class="title">Trainee Software Engineer - <span class="place">Cyndrake</span> <span class="year">(2007 - 2008)</span></h3>
                        <p>Working as a Trainee Software Engineer for web applications.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="secondary col-md-4 col-sm-12 col-xs-12">
         <aside class="info aside section">
            <div class="section-inner">
                <h2 class="heading sr-only">Basic Information</h2>
                <div class="content">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Bangalore, INDIA</li>
                        <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="mailto:washim.ahmed@gmail.com">washim.ahmed@gmail.com</a></li>
                        <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="http://datasciencevisual.com">http://datasciencevisual.com</a></li>
                        <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="http://rstudio.club">http://rstudio.club</a></li>
                    </ul>
                </div>
            </div>
        </aside>
        <aside class="skills aside section">
            <div class="section-inner">
                <h2 class="heading">Skills</h2>
                <div class="content">
                    <p class="intro">I have following skills mentioned below..</p>
                    <div class="skillset">
                        <div class="item">
                            <h3 class="level-title">R & Python<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true">Expert</span></h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="80%"></div>
                            </div>
                        </div>
                        <div class="item">
                            <h3 class="level-title">Drupal(Content Management System)<span class="level-label">Expert</span></h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="96%"></div>
                            </div>
                        </div>
                        <div class="item">
                            <h3 class="level-title">Django and Flask(Framework)<span class="level-label">Expert</span></h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="80%"></div>
                            </div>
                        </div>
                        <div class="item">
                            <h3 class="level-title">Machine Learning<span class="level-label">Pro</span></h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="70%"></div>
                            </div>
                        </div>
                        <div class="item">
                            <h3 class="level-title">Exploratory Data Analysis<span class="level-label">Pro</span></h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="70%"></div>
                            </div>
                        </div>
                        <div class="item">
                            <h3 class="level-title">Automation<span class="level-label">Pro</span></h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="60%"></div>
                            </div>
                        </div>
                    </div>              
                </div>
            </div>
        </aside>
        <aside class="education aside section">
            <div class="section-inner">
                <h2 class="heading">Education</h2>
                <div class="content">
                    <div class="item">
                        <h3 class="title"><i class="fa fa-graduation-cap"></i> Post Graduate Diploma in Data Science</h3>
                        <h4 class="university">Manipal University <span class="year">(2017)</span></h4>
                    </div>
                    <div class="item">                      
                        <h3 class="title"><i class="fa fa-graduation-cap"></i> Computer Science and Engineering</h3>
                        <h4 class="university">West Bengal University of Technology <span class="year">(2003-2007)</span></h4>
                    </div>
                </div>
            </div>
        </aside>
        <aside class="credits aside section">
            <div class="section-inner">
                <h2 class="heading">Contributions</h2>
                <div class="content">
                    <ul class="list-unstyled">
                        <li><a href="https://www.drupal.org/project/blockexport" target="_blank"><i class="fa fa-external-link"></i> https://www.drupal.org/project/blockexport</a></li>
                        <li><a href="https://www.drupal.org/project/cpcl" target="_blank"><i class="fa fa-external-link"></i> https://www.drupal.org/project/cpcl</a></li>
                        <li><a href="https://www.drupal.org/project/lab" target="_blank"><i class="fa fa-external-link"></i> https://www.drupal.org/project/lab</a></li>
                        <li><a href="https://www.drupal.org/project/protocol" target="_blank"><i class="fa fa-external-link"></i> https://www.drupal.org/project/protocol</a></li>
                        <li><a href="https://www.drupal.org/project/pure360" target="_blank"><i class="fa fa-external-link"></i> https://www.drupal.org/project/pure360</a></li>
                        <li><a href="https://www.drupal.org/project/views_simplechart" target="_blank"><i class="fa fa-external-link"></i> https://www.drupal.org/project/views_simplechart</a></li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>  
</div>
{% endblock %}