{% extends "base.html" %}
{% block body %}
<div class="row">
    <div class="primary col-md-8 col-sm-12 col-xs-12">
        <section class="about section">
            <div class="section-inner">
                <h2 class="heading">About Me</h2>
                <div class="content">
                    <p>9+ years of over-all IT experience with over 6+ years of experience in data reporting platform in dierent open
source framework and 3+ years in Data analysis. Well rounded, visionary ecutive with broad spectrum of data
science knowledge. As the next opportunities I am seeking role for senior level assignments in Data Science with
an organization of repute.</p>
                </div>
            </div>
        </section>
        <section class="model section">
            <div class="section-inner">
                <h2 class="heading">Statistical Modeling</h2>
                <div class="content">
                    <p>This area is private.</p>
                </div>
            </div>
        </section>
        <section class="latest section">
            <div class="section-inner">
                <h2 class="heading">Latest Projects (Academic Only)</h2>
                <div class="content">
                    <div class="item row">
                        <a class="col-md-2 col-sm-2 col-xs-12" href="http://datasciencevisual.com/github/washim/ipynb/blob/master/ArunArimaForcasting.ipynb" target="_blank">
                        <img class="img-responsive project-image" src="https://cdn3.iconfinder.com/data/icons/minimal-business-line/64/social-128.png" alt="Arima Forecasting" />
                        </a>
                        <div class="desc col-md-10 col-sm-10 col-xs-12">
                            <h3 class="title"><a href="http://datasciencevisual.com/github/washim/ipynb/blob/master/ArunArimaForcasting.ipynb" target="_blank">Arima Forecasting</a></h3>
                            <p>In statistics and econometrics, and in particular in time series analysis, an autoregressive integrated moving average (ARIMA) model is a generalization of an autoregressive moving average (ARMA) model.</p>
                            <p><a class="more-link" href="http://datasciencevisual.com/github/washim/ipynb/blob/master/ArunArimaForcasting.ipynb" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
                        </div>
                    </div>
                    <div class="item row">
                        <a class="col-md-2 col-sm-2 col-xs-12" href="http://datasciencevisual.com/github/washim/ipynb/blob/master/EuStockMarkets.ipynb" target="_blank">
                        <img class="img-responsive project-image" src="https://cdn3.iconfinder.com/data/icons/minimal-business-line/64/data_analysis-128.png" alt="Arima Stock Market" />
                        </a>
                        <div class="desc col-md-10 col-sm-10 col-xs-12">
                            <h3 class="title"><a href="http://datasciencevisual.com/github/washim/ipynb/blob/master/EuStockMarkets.ipynb" target="_blank">Arima Stock Market Analysis</a></h3>
                            <p>Simple stock market analysis using Arima model. Its not a complete project but it will help you to start any timeseries project.</p>
                            <p><a class="more-link" href="http://datasciencevisual.com/github/washim/ipynb/blob/master/EuStockMarkets.ipynb" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
                        </div>
                    </div>
                    <div class="item row">
                        <a class="col-md-2 col-sm-2 col-xs-12" href="http://datasciencevisual.com/github/washim/ipynb/blob/master/average_flight_delay.ipynb" target="_blank">
                        <img class="img-responsive project-image" src="https://cdn3.iconfinder.com/data/icons/minimal-business-line/64/announcement-128.png" alt="Average Flight Delay" />
                        </a>
                        <div class="desc col-md-10 col-sm-10 col-xs-12">
                            <h3 class="title"><a href="http://datasciencevisual.com/github/washim/ipynb/blob/master/average_flight_delay.ipynb" target="_blank">Average Flight Delay using SCALA</a></h3>
                            <p>Simple analysis for average flight delay using SCALA. Its not a complete project but it will help you to start this kind of project.</p>
                            <p><a class="more-link" href="http://datasciencevisual.com/github/washim/ipynb/blob/master/average_flight_delay.ipynb" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
                        </div>
                    </div>
                    <div class="item row">
                        <a class="col-md-2 col-sm-2 col-xs-12" href="http://datasciencevisual.com/github/washim/ipynb/blob/master/quiz.ipynb" target="_blank">
                        <img class="img-responsive project-image" src="https://cdn3.iconfinder.com/data/icons/minimal-business-line/64/signature-128.png" alt="Wordcloud from Twitter feed" />
                        </a>
                        <div class="desc col-md-10 col-sm-10 col-xs-12">
                            <h3 class="title"><a href="http://datasciencevisual.com/github/washim/ipynb/blob/master/quiz.ipynb" target="_blank">Wordcloud from Twitter feed</a></h3>
                            <p>Simple Wordcloud fetching twitter feed using R. Its not a complete project but it will help you to start to create wordcloud.</p>
                            <p><a class="more-link" href="http://datasciencevisual.com/github/washim/ipynb/blob/master/quiz.ipynb" target="_blank"><i class="fa fa-external-link"></i> Find out more</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="experience section">
            <div class="section-inner">
                <h2 class="heading">Work Experience</h2>
                <div class="content">
                    <div class="item">
                        <h3 class="title">Senior Consultant - <span class="place">Capgemini India Service Limited</span> <span class="year">(2014 - Present)</span></h3>
                        <p>Working as a senior consultant for client NBCUniversal. Currently I'm managing small team in data reporting solutions using php and data science with web operations team. I'm also working with different team as well in hackathon basis.</p>
                    </div>
                    <div class="item">
                        <h3 class="title">System Analyst - <span class="place">UST Global</span> <span class="year">(2013 - 2014)</span></h3>
                        <p>Working as System analyst for client Intel. I was given support and enhancement for user experience issue in different geo location.</p>
                    </div>
                    <div class="item">
                        <h3 class="title">Solution Integrator - <span class="place">Ericsson Global India</span> <span class="year">(2011 - 2013)</span></h3>
                        <p>Working as a Solution Integrator. Writing well designed, testable, ecient code by using best software development practices.</p>
                    </div>
                    <div class="item">
                        <h3 class="title">Software Engineer - <span class="place">ObjectSol Technologies</span> <span class="year">(2008 - 2010)</span></h3>
                        <p>Working as a Software Engineer for web applications.</p>
                    </div>
                    <div class="item">
                        <h3 class="title">Trainee Software Engineer - <span class="place">Cyndrake</span> <span class="year">(2007 - 2008)</span></h3>
                        <p>Working as a Trainee Software Engineer for web applications.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="secondary col-md-4 col-sm-12 col-xs-12">
         <aside class="info aside section">
            <div class="section-inner">
                <h2 class="heading sr-only">Basic Information</h2>
                <div class="content">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-map-marker"></i><span class="sr-only">Location:</span>Bangalore, INDIA</li>
                        <li><i class="fa fa-envelope-o"></i><span class="sr-only">Email:</span><a href="mailto:washim.ahmed@gmail.com">washim.ahmed@gmail.com</a></li>
                        <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="http://datasciencevisual.com">http://datasciencevisual.com</a></li>
                        <li><i class="fa fa-link"></i><span class="sr-only">Website:</span><a href="http://rstudio.club">http://rstudio.club</a></li>
                    </ul>
                </div>
            </div>
        </aside>
        <aside class="skills aside section">
            <div class="section-inner">
                <h2 class="heading">Skills</h2>
                <div class="content">
                    <p class="intro">I have following skills mentioned below..</p>
                    <div class="skillset">
                        <div class="item">
                            <h3 class="level-title">R & Python<span class="level-label" data-toggle="tooltip" data-placement="left" data-animation="true">Expert</span></h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="80%"></div>
                            </div>
                        </div>
                        <div class="item">
                            <h3 class="level-title">Drupal(Content Management System)<span class="level-label">Expert</span></h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="96%"></div>
                            </div>
                        </div>
                        <div class="item">
                            <h3 class="level-title">Django and Flask(Framework)<span class="level-label">Expert</span></h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="80%"></div>
                            </div>
                        </div>
                        <div class="item">
                            <h3 class="level-title">Machine Learning<span class="level-label">Pro</span></h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="70%"></div>
                            </div>
                        </div>
                        <div class="item">
                            <h3 class="level-title">Exploratory Data Analysis<span class="level-label">Pro</span></h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="70%"></div>
                            </div>
                        </div>
                        <div class="item">
                            <h3 class="level-title">Automation<span class="level-label">Pro</span></h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="60%"></div>
                            </div>
                        </div>
                    </div>              
                </div>
            </div>
        </aside>
        <aside class="education aside section">
            <div class="section-inner">
                <h2 class="heading">Education</h2>
                <div class="content">
                    <div class="item">
                        <h3 class="title"><i class="fa fa-graduation-cap"></i> Post Graduate Diploma in Data Science</h3>
                        <h4 class="university">Manipal University <span class="year">(2017)</span></h4>
                    </div>
                    <div class="item">                      
                        <h3 class="title"><i class="fa fa-graduation-cap"></i> Computer Science and Engineering</h3>
                        <h4 class="university">West Bengal University of Technology <span class="year">(2003-2007)</span></h4>
                    </div>
                </div>
            </div>
        </aside>
        <aside class="credits aside section">
            <div class="section-inner">
                <h2 class="heading">Contributions</h2>
                <div class="content">
                    <ul class="list-unstyled">
                        <li><a href="https://www.drupal.org/project/blockexport" target="_blank"><i class="fa fa-external-link"></i> https://www.drupal.org/project/blockexport</a></li>
                        <li><a href="https://www.drupal.org/project/cpcl" target="_blank"><i class="fa fa-external-link"></i> https://www.drupal.org/project/cpcl</a></li>
                        <li><a href="https://www.drupal.org/project/lab" target="_blank"><i class="fa fa-external-link"></i> https://www.drupal.org/project/lab</a></li>
                        <li><a href="https://www.drupal.org/project/protocol" target="_blank"><i class="fa fa-external-link"></i> https://www.drupal.org/project/protocol</a></li>
                        <li><a href="https://www.drupal.org/project/pure360" target="_blank"><i class="fa fa-external-link"></i> https://www.drupal.org/project/pure360</a></li>
                        <li><a href="https://www.drupal.org/project/views_simplechart" target="_blank"><i class="fa fa-external-link"></i> https://www.drupal.org/project/views_simplechart</a></li>
                    </ul>
                </div>
            </div>
        </aside>
    </div>  
</div>
{% endblock %}